<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{site.title}}</title>
  <link rel="stylesheet" href="{{ '/assets/css/index.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/markdown-github-style.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/hightlight.css' | relative_url }}">
</head>
<body>
  <nav class="box">
    <a href="/" {% if page.url == '/' %}class="active"{% endif %}>首页</a>
    <a href="/tag" {% if page.url == '/tag.html' %}class="active"{% endif %}>标签</a>
    <a href="/link" {% if page.url == '/link.html' %}class="active"{% endif %}>友链</a>
    <a href="/about" {% if page.url == '/about.html' %}class="active"{% endif %}>关于</a>
  </nav>