<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{site.title}}</title>
</head>
<body>
  <ul>
    {% assign init_year = "" | split: ',' %}

    {% for post in site.posts %}

      {% assign year = post.date | date: '%Y' %}
      {% assign have_year = false %}

      {% assign year_item = year | split: ',' %}
      {% assign year_arr = init_year | concat: year_item %}
      
      {% for post_year in init_year %}
        {% if post_year === year %}
          {{ have_year = true }}
        {% endfor %}
      {% endfor %}

      {% if have_year %}
          <li>{{ year }}</li>
      {% elseif %}
          {{ init_year = year_arr }}
      {% endfor %}
      <li>
        <a href="{{ post.url }}">{{ post.title }}</a>
      </li>
    {% endfor %}
  </ul>
</body>
</html>