{% include header.html %}
  <ul id="posts" class="box">
    {% assign init_year = "" | split: ',' %}

    {% for post in site.posts %}

      {% assign year = post.date | date: '%Y' %}
      {% assign have_year = false %}

      {% assign year_item = year | split: ',' %}
      {% assign year_arr = init_year | concat: year_item %}

      {% for post_year in init_year %}
        {% if post_year == year %}
          {{ have_year = true }}
        {% endif %}
      {% endfor %}

      {% if have_year or init_year.size == 0 %}
        <li class="year">{{ year }}</li>
      {% endif %}
      
      {{ init_year = year_arr }}

      <li class="post">
        <a href="{{ post.url }}">
          <span class="date">{{post.date | date: '%Y-%m-%d'}}</span>
          <span class="title">{{post.title}}</span>
        </a>
      </li>
    {% endfor %}
  </ul>
{% include footer.html %}